.portfolio-menu
{
	background-color : #343a40;
}
.Exp-heading
{
	text-align: center;
	padding: 1%;
}
.portfolio-menu .navbar-brand
{
	color : white;
	font-weight :bold !important;
	font-family: 'Open Sans', sans-serif !important;
}
.portfolio-menu button
{
	outline : none;
}
.portfolio-menu button, .portfolio-menu i
{
	background-color : #343a40;
	color : white;
}
.portfolio-menu .nav-link
{
	color : white !important;
	font-family: 'Open Sans', sans-serif !important;
}
@media (min-width: 992px)
{
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-left : 2.5rem !important;	
		font-size : 1.17rem !important;
	}
}
.Exp
{
	background-color: black;
	color:white;
	font-size : 1rem !important;
	margin-right:2%;
}
#Experience .row
{
	margin-bottom:2%;
}
@media (min-width: 768px)
{
	#Experience .row
	{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.Exp-right
	{
		border-left : 3px solid black;
	}
	.Exp-left
	{
		border-right : 3px solid black;
	}
}
.Exp-other
{
	background-color: black;
	color:white;
	font-size : 1rem !important;
	margin-left:2%;
}
.Exp-right
{
	padding-left :1%;
}
.Exp-left
{
	padding-left :1%;
}